header {
  display: flex;
  align-items: center;
  gap: 16px;
}
h1 {
  font-size: 20px;
}
.nav a {
  text-decoration: none;
  display: flex;
  gap: 12px;
}

.nav a.open {
  text-decoration: underline;
  font-weight: 700;
}
